.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card {
    width: 100%;
    margin: 2rem 0 2rem 0;
}

.hour-and-date-info {
    display: flex;
    align-items: center;
}

.hour-and-date-info img {
    width: 2rem;
    height: 2rem;
}