body, html{
    height: 100%;
}

.container {
    margin-top: 4rem;
}

.paralax-container{
    position: relative;
    height: 65%;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(../images/ensino-ead.png);
    filter : brightness(40%);
}

section {
    text-align: justify;
    margin-top: 2rem;
}

section img {
    border-radius: 1rem;
    margin: 1rem 0 1rem 0;
}