body, html{
    margin: 0;
    height: 100%;
	border: 0;
}

.container-xxl{
    margin-top: 40px;
}

.caixa1, .caixa2, .caixa3, .caixa4{
    position: relative;
    height: 65%;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.caixa1{
    background-image: url(../images/ensino-ead.png);
    filter : brightness(40%);
}

#conteudo{
    text-align: justify;
    text-justify: inter-word;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
}

#conteudo h1{
    text-transform: uppercase;
}

/* .conteudo-titulo{
    width: 100%;
    top: 45%;
    position: absolute;
    left: 0;
    text-align: center;
}

.conteudo-titulo span.titulo{
    padding: 18px;
    
} */