.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-top: 2rem;
}

.outside-area {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.inside-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 2rem 0 2rem;
    width: 50vw;
}

.inside-area p {
    text-align: justify;
}

.inside-area section {
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 2rem;
}

.inside-area img {
    width: 100%;
    height: 100%;
}

.cite {
    margin-top: 3rem;
}

@media only screen and (max-width: 600px) {
    .outside-area {
        flex-direction: column;
        align-items: center;
    }

    .inside-area {
        width: 90%;
    }
}