body{
    background-color: rgb(245, 245, 245);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

article#area1{
    width: 45%;
    background: #ffffff;
    margin-left: 40px;
    border-radius: 10px;
}

article#area2{
    width: 45%;
    margin-right: 40px;
    background: #ffffff;
    border-radius: 10px;

}

.imagem1{
    width: 100%;
    opacity: 85%;
}

article#area3{
    width: 45%;
    margin-left: 40px;
    background: #ffffff;
    border-radius: 10px;
    
}