body{
    background-color: rgb(245, 245, 245);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}   

section p{
    text-align: justify;
}

article.area{
    width: 45%;
    background: #ffffff;
    border-radius: 10px;
}

article#area1{
    margin-left: 40px;
    border-radius: 10px;
}

article#area2{
    margin-right: 40px;
    border-radius: 10px;

}

.imagem1{
    width: 100%;
    opacity: 85%;
}

article#area3{
    margin-left: 40px;
    border-radius: 10px;
    
}