.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}   

.outside-area {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.inside-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 2rem 0 2rem;
    width: 50vw;
}

.inside-area p {
    text-align: justify;
}

.inside-area article {
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 2rem;
}

.inside-area article img, iframe {
    width: 100%;
    border-radius: 1rem;
    margin: 1rem 0 1rem 0;
}


@media (max-width: 840px) { 

    .outside-area {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .inside-area {
        width: 90%;
    }
    
 }